Тема “Вычисления с помощью Numpy”

Задание 1
Импортируйте библиотеку Numpy и дайте ей псевдоним np.
Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. Будем считать, что каждый столбец - это признак, а строка - наблюдение. Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [57]:
import numpy as np
a = np.array([[1, 6],
              [2, 8],
              [3, 11],
              [3, 10],
              [1, 7]])
#print(a)
mean_a = np.array(a.mean(axis=0))
#print("Средние значения по каждому столбцу (признаку): {}".format(mean_a), "\nЭлементов в массиве:", mean_a.size)

Задание 2
Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [58]:
a_centered = a - mean_a
#print(a_centered)

Задание 3
Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [59]:
#print(a_centered[:, 0])
#print(a_centered[:, 1])
a_centered_sp = np.dot(a_centered[:, 0], a_centered[:, 1])/(a_centered.shape[0]-1)
print(a_centered_sp)

2.0

Задание 4**
Число, которое мы получили в конце задания 3 является ковариацией двух признаков, содержащихся в массиве “а”. В задании 4 мы делили сумму произведений центрированных признаков на N-1, а не на N, поэтому полученная нами величина является несмещенной оценкой ковариации.
Подробнее узнать о ковариации можно здесь:
Выборочная ковариация и выборочная дисперсия — Студопедия
В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с помощью функции np.cov. В качестве аргумента m функция np.cov должна принимать транспонированный массив “a”. В получившейся ковариационной матрице (массив Numpy размером 2x2) искомое значение ковариации будет равно элементу в строке с индексом 0 и столбце с индексом 1.

In [60]:
#print(a.transpose())
#print(np.cov(a.transpose()))
print(np.cov(a.transpose())[0,1])#искомое значение

2.0

Тема “Работа с данными в Pandas”

Задание 1
Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [61]:
import pandas as pd
authors = pd.DataFrame({'author_id':[1, 2, 3],
                       'author_name':['Тургенев', 'Чехов', 'Островский']}, columns = ['author_id', 'author_name'])
book = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3],
                    'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                    'price':[450, 300, 350, 500, 450, 370, 290]}, columns = ['author_id', 'book_title', 'price'])

Задание 2
Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id

In [62]:
authors_price = pd.merge(authors, book, on = 'author_id', how = 'outer')
#authors_price

Задание 3
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [63]:
top5 = authors_price.nlargest(5, 'price')
#top5

Задание 4
Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price, в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [64]:
authors_stat = authors_price.copy()
authors_stat.groupby('author_name').agg(
    min_price=pd.NamedAgg(column="price", aggfunc="min"),
    max_price=pd.NamedAgg(column="price", aggfunc="max"),
    mean_price=pd.NamedAgg(column="price", aggfunc="mean"))

             min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000

Задание 5**
Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [66]:
authors_price["cover"] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
#authors_price

In [70]:
#Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. 
#Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", 
#а индексами должны быть фамилии авторов. 
#Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.
book_info=pd.pivot_table(authors_price,
               index=["author_name"],
               columns=["cover"],
               values=["price"],
               aggfunc=[np.sum],
               fill_value=0)
#book_info

In [71]:
import pickle
#pickle.dump(book_info, book_info.pkl, protocol=None, *, fix_imports=True)
with open('book_info.pkl', 'wb') as f:
    pickle.dump(book_info, f)
with open('book_info.pkl', 'rb') as f:
    book_info2 = pickle.load(f)
book_info.equals(book_info2)

True